html {
    height: 100%;
    width: auto;
    
}

body {
    background-image:url(Macos\ Mojave\ Includes\ Two\ Desert\ Themed\ Wallpaper\ Here.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

.main {
    width: 50%;
    height: 30%;
    margin: auto;
    margin-left: 50%;
}